html{
    background-color: black;
    margin: 0;
}

#root{
    width: 1200px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: -450px;
    background-image: url(./assets/backgrounds/brick.png);
    border-radius: 15px;
}

#canvasBox{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#canvas{
    position: absolute;
    background-image: url("./assets/backgrounds/Summer6.png");
    background-size: cover;
    background-repeat: no-repeat;
}