html{
    background-color: black;
    margin: 0;
}

#root{
    width: 1200px;
    height: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: -450px;
    background-image: url(./assets/backgrounds/brick.png);
    border-radius: 15px;
    padding: 30px;
}

#gameCanvas, #menuCanvas{
    position: relative;
    background-image: url("./assets/backgrounds/Summer6.png");
    background-size: cover;
    background-repeat: no-repeat;
}